* {
    height: 100%;
    margin: 3px;
    overflow-y: hidden;
}

.App {
    text-align: center;
}

input {
    width: 30%;
    height: 31px;
    font-size: 15pt;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.workers {
    text-align: center;
}

.window {
    display: flex;
    width: 100%;
}

button {
    width: 30%;
    height: 20%;
    margin-bottom: 10px;
}

.question {
    width: 15%;
    border: none;
    text-align: center;
    margin: auto;
    line-height: 130px;
    background-color: greenyellow;

}

.textQuestion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 85%;
    border: none;
    /*line-height: 100px;*/
    margin: 0;
    background-color: #4d9f33;
    color: white;
}

div {
    font: 19pt sans-serif;;
}

.correct {
    color: yellow;
}

.error {
    color: red
}

.titleAnswer {
    color:black
}
